.input-section {
  margin-top: 2rem;
}

/* Standard Input */
.input-section > .standard-input {
  margin-top: 1rem;
}

.standard-input > .inp {
  position: relative;
  margin: 0.5em;
}

.inp > input {
  border: none;
  outline: none;
  resize: none;
  border-bottom: 2px solid #9b9ba0;
  width: 15em;
  height: 3em;
  padding: 0.2em;
  padding-left: 1rem;
  background-color: var(--background-color);
}

.inp > input:focus {
  border-color: var(--dark-grey);
}

.inp > .inp-label {
  position: absolute;
  pointer-events: none;
  top: -0.2em;
  font-size: 1rem;
  left: -0.6em;
  font-weight: 500;
  padding: 0.3em;
}

.fa-mobile {
  font-size: 1.8rem;
  color: var(--dark-grey);
  position: relative;
  top: 0.5rem;
  left: 0rem;
}
/************/

/* Validation Input */
.validation-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 1rem;
}

.validation-input > .inp > input:focus {
  border-color: var(--dark-grey);
}

.validation-input > .inp > input:focus::placeholder {
  color: var(--dark-grey);
}

/* Error */
.validation-input > .inp > .inp-error {
  border: 1px solid var(--red-pink);
}

.validation-input > .inp > .inp-error::placeholder {
  color: var(--red-pink);
}

/* Warning */
.validation-input > .inp > .inp-warning {
  border: 1px solid var(--gold-yellow);
}

.validation-input > .inp > .inp-warning::placeholder {
  color: var(--gold-yellow);
}

/* Succes */
.validation-input > .inp > .inp-succes {
  border: 1px solid var(--li-green);
}

.validation-input > .inp > .inp-succes::placeholder {
  color: var(--li-green);
}
